<link rel="stylesheet" href="/css/dashboard.css" />
<%- include("./partials/navbar.ejs") %>

<button id="scrollToTopButton" onclick="scrollToTop()" title="Scroll to Top">
  Top
</button>

<main class="container-fluid">
  <%- include("./partials/messages.ejs") %>
  <section class="my-3" id="customers">
    <div class="heading">
      <h2 class="h5 text-danger fw-500">
        CUSTOMERS
        <a href="/users/<%= user._id %>/newCustomer">
          <i class="bi bi-plus-square"></i
        ></a>
      </h2>
    </div>

    <div class="searchForm">
      <form
        class="d-flex"
        role="search"
        method="get"
        action="/users/<%= user._id %>"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <div class="content my-5">
      <% if (customers.length === 0) { %>
      <h1>No customers</h1>
      <% } else {%> <% customers.forEach(elt => { %>
      <div class="each d-flex justify-content-between align-items-center my-3">
        <div class="left d-flex justify-content-between align-items-center">
          <img
            width="50px"
            height="50px"
            src="<%= elt.coverImagePath %>"
            alt="pic"
          />
          <div class="det">
            <p class="name m-0"><%= elt.firstName %> <%= elt.lastName %></p>
            <span class="createdAt text-danger"
              ><%= new Date(elt.createdAt).toLocaleDateString()%></span
            >
          </div>
        </div>
        <div class="right">
          <div class="buttons d-flex">
            <a href="/users/<%= user._id %>/customer/<%= elt._id %>"
              ><i class="bi bi-eye-fill p-2 text-primary"></i
            ></a>
            <a href="/users/<%= user._id %>/customer/<%= elt._id %>/edit"
              ><i class="bi bi-pencil-square p-2 text-info"></i
            ></a>

            <form
              action="/users/<%= user._id %>/customer/<%= elt._id %>/delete"
              class="deleteForm"
              method="post"
            >
              <button type="submit">
                <i class="bi bi-trash3 p-2 text-danger"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </section>

  <!-- Vehicle Section -->
  <section class="my-3" id="vehicles">
    <div class="heading">
      <h2 class="h5 text-danger fw-500">
        VEHICLES
        <a href="/users/<%= user._id %>/newVehicle">
          <i class="bi bi-plus-square"></i
        ></a>
      </h2>
    </div>

    <div class="content my-5">
      <% if (vehicles.length === 0) { %>
      <h1 class="h5 text-danger fw-500">No vehicles</h1>
      <% } else {%> <% vehicles.forEach(elt => { %>
      <div class="each d-flex justify-content-between align-items-center my-3">
        <div class="left d-flex justify-content-between align-items-center">
          <div class="det">
            <p class="name m-0"><b> <%= elt.number %></b>: <%= elt.name %></p>
            <span class="createdAt text-danger"
              ><%= new Date(elt.createdAt).toLocaleDateString()%></span
            >
          </div>
        </div>
        <div class="right">
          <div class="buttons d-flex">
            <a href="/users/<%= user._id %>/vehicle/<%= elt._id %>"
              ><i class="bi bi-eye-fill p-2 text-primary"></i
            ></a>
            <a href="/users/<%= user._id %>/vehicle/<%= elt._id %>/edit"
              ><i class="bi bi-pencil-square p-2 text-info"></i
            ></a>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </section>

  <!-- Staff Section -->
  <section class="my-3">
    <div class="heading" id="users">
      <h2 class="h5 text-danger fw-500">
        STAFF
        <a href="/users/<%= user._id %>/newStaff">
          <i class="bi bi-plus-square"></i
        ></a>
      </h2>
    </div>

    <div class="content my-5">
      <% if (users.length === 0) { %>
      <h1 class="h5 text-danger fw-500">No Staff</h1>
      <% } else {%> <% users.forEach(elt => { %>
      <div class="each d-flex justify-content-between align-items-center my-3">
        <div class="left d-flex justify-content-between align-items-center">
          <div class="det">
            <p class="name m-0"><%= elt.firstName %> <%= elt.lastName %></p>
            <span class="createdAt text-danger"
              ><%= new Date(elt.createdAt).toLocaleDateString()%></span
            >
          </div>
        </div>
        <div class="right">
          <div class="buttons d-flex">
            <a href="/users/<%= user._id %>/user/<%= elt._id %>"
              ><i class="bi bi-eye-fill p-2 text-primary"></i
            ></a>
            <a href="/users/<%= user._id %>/user/<%= elt._id %>/edit"
              ><i class="bi bi-pencil-square p-2 text-info"></i
            ></a>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </section>
</main>

<script>
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      document.getElementById("scrollToTopButton").style.display = "block";
    } else {
      document.getElementById("scrollToTopButton").style.display = "none";
    }
  }

  function scrollToTop() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
  }
</script>
