<%- include("../partials/navbar.ejs") %>
<main class="my-3 container-fluid">
  <h1 class="h5 text-danger fw-500">EDIT CUSTOMER</h1>

  <div class="editForm">
    <%- include("../partials/messages.ejs") %>
    <form
      action="/users/edit/<%= user._id %>/editVehicle/<%= vehicle._id %>"
      method="post"
    >
      <div class="my-3">
        <label class="form-label">Owner</label>
        <select name="owner" class="form-select">
          <% customers.forEach((customer) => { %>
            <option value="<%= customer._id %>" <%= customer._id.toString() === owner._id.toString() ? "selected" : "" %>>
              <%= customer.firstName %>  <%= customer.lastName %>
            </option>
          <% }); %>
        </select>
      </div>

      <div class="my-3">
        <label class="form-label">Number</label>
        <input type="text" name="number" value="<%= vehicle.number %>" class="form-control" />
      </div>

      <div class="my-3">
        <label class="form-label">Brand</label>
        <input type="text" name="name" value="<%= vehicle.name %>" class="form-control" />
      </div>

      <div class="my-3">
        <label class="form-label">Color</label>
        <input type="text" name="color" value="<%= vehicle.color %>" class="form-control" />
      </div>
      <div class="my-3">
        <label class="form-label">RoadWorthy Starts</label>
        <input type="date" id="issueDate" value="<%= new Date(vehicle.rwStart).toISOString().split('T')[0] %>" name="rwStart" class="form-control" />
      </div>

      <div class="my-3">
        <label class="form-label">RoadWorthy Renew on</label>
        <input type="date" id="lRenewOne" value="<%= new Date(vehicle.rwRenew).toISOString().split('T')[0] %>" name="rwRenew" class="form-control" />
      </div>

      <div class="my-3">
        <label class="form-label">Insurance Type</label>
        <select name="insType" class="form-select">
          <option value="Life" <% if (vehicle.insType === "Life") { %>selected<% } %>>Life</option>
          <option value="Property" <% if (vehicle.insType === "Property") { %>selected<% } %>>Property</option>
        </select>
      </div>
      <div class="my-3">
        <label class="form-label">Use</label>
        <select name="use" class="form-select">
          <option value="Private" <% if (vehicle.use === "Private") { %>selected<% } %>>Private</option>
          <option value="Commercial" <% if (vehicle.use === "Commercial") { %>selected<% } %>>Commercial</option>
        </select>
      </div>
      <div class="my-3">
        <label class="form-label">Insurance Company</label>
        <input type="text" value="<%= vehicle.insCompany %>"  name="insCompany" class="form-control" />
      </div>
      
      <button type="submit" class="btn btn-secondary">Update Customer</button>
    </form>
  </div>
</main>