<%- include("../partials/navbar.ejs") %>
<main class="my-3 container-fluid">
  <h1 class="h5 text-danger fw-500">EDIT CUSTOMER</h1>

  <div class="editForm">
    <form
      action="/users/edit/<%= user._id %>/editCustomer/<%= customer._id %>"
      method="post"
    >
      <div class="my-3">
        <label class="form-label">Picture</label>
        <input type="file" name="cover" class="filepond" />
      </div>
      <div class="my-3">
        <label class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          value="<%= customer.firstName %>"
        />
      </div>
      <div class="my-3s">
        <label class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          value="<%= customer.lastName %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          value="<%= customer.phone %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Whatsapp</label>
        <input
          type="text"
          class="form-control"
          name="whatsapp"
          value="<%= customer.whatsapp %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Company</label>
        <input
          type="text"
          value="<%= customer.company %>"
          class="form-control"
          name="company"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Date of Birth</label>
        <input type="date" class="form-control" name="dob" value="<%= new
        Date(customer.dob).toISOString().split("T")[0] %>" />
      </div>
      <div class="my-3">
        <label class="form-label">Gender</label>
        <select name="gender" class="form-select">
          <option value="male" <%= customer.gender === 'male' ? 'selected' : '' %>>Male</option>
          <option value="female" <%= customer.gender === 'female' ? 'selected' : '' %>>Female</option>
        </select>
      </div>
      <div class="my-3">
        <label class="form-label">Status</label>
        <select name="status" class="form-select">
          <option value="active" <%= customer.status === 'active' ? 'selected' : '' %>>active</option>
          <option value="inactive" <%= customer.status === 'inactive' ? 'selected' : '' %>>inactive</option>
        </select>
      </div>
      <hr />
      <div class="my-3">
        <label class="form-label">License Class</label>
        <select name="lClass" class="form-control">
          <option value="A" <%= ['A', 'a'].includes(customer.lClass) ? 'selected' : '' %>>A</option>
          <option value="B" <%= customer.lClass === 'B' ? 'selected' : '' %>>B</option>
          <option value="C" <%= customer.lClass === 'C' ? 'selected' : '' %>>C</option>
          <option value="D" <%= customer.lClass === 'D' ? 'selected' : '' %>>D</option>
        </select>
      </div>
      <div class="my-3">
        <label class="form-label">License No.</label>
        <input
          type="text"
          class="form-control"
          name="lNo"
          value="<%= customer.lNo %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Reference No.</label>
        <input
          type="text"
          class="form-control"
          name="refNo"
          value="<%= customer.refNo %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">Issue Date</label>
        <input id="issueDate" type="date" class="form-control" name="issueDate"
        value="<%= new Date(customer.issueDate).toISOString().split("T")[0] %>"
        />
      </div>
      <div class="my-3">
        <label class="form-label">1st Renew Date</label>
        <input id="nextRenewal" type="date" class="form-control"
        name="nextRenewal" value="<%= new
        Date(customer.nextRenewal).toISOString().split("T")[0] %>" />
      </div>
      <div class="my-3">
        <label class="form-label">Expiry Date</label>
        <input id="lExpiry" type="date" class="form-control" name="lExpiry"
        value="<%= new Date(customer.lExpiry).toISOString().split("T")[0] %>" />
      </div>
      <button type="submit" class="btn btn-secondary">Update Customer</button>
    </form>
  </div>
</main>
